/* ちょっとした調整したい時はコレ！ */
/* Utility Classes */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.d-flex { display: flex; }
.flex-column { flex-direction: column; }
.mx-auto { margin: 0 auto; }

/* Utility Classes - Margin Bottom */
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 1.25rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mb-7 { margin-bottom: 1.75rem; }
.mb-8 { margin-bottom: 2rem; }
.mb-9 { margin-bottom: 2.25rem; }
.mb-10 { margin-bottom: 2.5rem; }
.mb-11 { margin-bottom: 2.75rem; }
.mb-12 { margin-bottom: 3rem; }
.mb-13 { margin-bottom: 3.25rem; }
.mb-14 { margin-bottom: 3.5rem; }
.mb-15 { margin-bottom: 3.75rem; }
.mb-16 { margin-bottom: 4rem; }
.mb-17 { margin-bottom: 4.25rem; }
.mb-18 { margin-bottom: 4.5rem; }
.mb-19 { margin-bottom: 4.75rem; }
.mb-20 { margin-bottom: 5rem; }
.mb-21 { margin-bottom: 5.25rem; }
.mb-22 { margin-bottom: 5.5rem; }
.mb-23 { margin-bottom: 5.75rem; }
.mb-24 { margin-bottom: 6rem; }

/* Utility Classes - Margin Left */
.ml-1  { margin-left: 0.25rem; }
.ml-2  { margin-left: 0.5rem; }
.ml-3  { margin-left: 0.75rem; }
.ml-4  { margin-left: 1rem; }
.ml-5  { margin-left: 1.25rem; }
.ml-6  { margin-left: 1.5rem; }
.ml-7  { margin-left: 1.75rem; }
.ml-8  { margin-left: 2rem; }
.ml-9  { margin-left: 2.25rem; }
.ml-10 { margin-left: 2.5rem; }
.ml-11 { margin-left: 2.75rem; }
.ml-12 { margin-left: 3rem; }
.ml-13 { margin-left: 3.25rem; }
.ml-14 { margin-left: 3.5rem; }
.ml-15 { margin-left: 3.75rem; }
.ml-16 { margin-left: 4rem; }
.ml-17 { margin-left: 4.25rem; }
.ml-18 { margin-left: 4.5rem; }
.ml-19 { margin-left: 4.75rem; }
.ml-20 { margin-left: 5rem; }
.ml-21 { margin-left: 5.25rem; }
.ml-22 { margin-left: 5.5rem; }
.ml-23 { margin-left: 5.75rem; }
.ml-24 { margin-left: 6rem; }

/* Utility Classes - Margin Right */
.mr-1  { margin-right: 0.25rem; }
.mr-2  { margin-right: 0.5rem; }
.mr-3  { margin-right: 0.75rem; }
.mr-4  { margin-right: 1rem; }
.mr-5  { margin-right: 1.25rem; }
.mr-6  { margin-right: 1.5rem; }
.mr-7  { margin-right: 1.75rem; }
.mr-8  { margin-right: 2rem; }
.mr-9  { margin-right: 2.25rem; }
.mr-10 { margin-right: 2.5rem; }
.mr-11 { margin-right: 2.75rem; }
.mr-12 { margin-right: 3rem; }
.mr-13 { margin-right: 3.25rem; }
.mr-14 { margin-right: 3.5rem; }
.mr-15 { margin-right: 3.75rem; }
.mr-16 { margin-right: 4rem; }
.mr-17 { margin-right: 4.25rem; }
.mr-18 { margin-right: 4.5rem; }
.mr-19 { margin-right: 4.75rem; }
.mr-20 { margin-right: 5rem; }
.mr-21 { margin-right: 5.25rem; }
.mr-22 { margin-right: 5.5rem; }
.mr-23 { margin-right: 5.75rem; }
.mr-24 { margin-right: 6rem; }

/* Utility Classes - Padding Left */
.pl-1  { padding-left: 0.25rem; }
.pl-2  { padding-left: 0.5rem; }
.pl-3  { padding-left: 0.75rem; }
.pl-4  { padding-left: 1rem; }
.pl-5  { padding-left: 1.25rem; }
.pl-6  { padding-left: 1.5rem; }
.pl-7  { padding-left: 1.75rem; }
.pl-8  { padding-left: 2rem; }
.pl-9  { padding-left: 2.25rem; }
.pl-10 { padding-left: 2.5rem; }
.pl-11 { padding-left: 2.75rem; }
.pl-12 { padding-left: 3rem; }
.pl-13 { padding-left: 3.25rem; }
.pl-14 { padding-left: 3.5rem; }
.pl-15 { padding-left: 3.75rem; }
.pl-16 { padding-left: 4rem; }
.pl-17 { padding-left: 4.25rem; }
.pl-18 { padding-left: 4.5rem; }
.pl-19 { padding-left: 4.75rem; }
.pl-20 { padding-left: 5rem; }
.pl-21 { padding-left: 5.25rem; }
.pl-22 { padding-left: 5.5rem; }
.pl-23 { padding-left: 5.75rem; }
.pl-24 { padding-left: 6rem; }

/* Utility Classes - Padding Right */
.pr-1  { padding-right: 0.25rem; }
.pr-2  { padding-right: 0.5rem; }
.pr-3  { padding-right: 0.75rem; }
.pr-4  { padding-right: 1rem; }
.pr-5  { padding-right: 1.25rem; }
.pr-6  { padding-right: 1.5rem; }
.pr-7  { padding-right: 1.75rem; }
.pr-8  { padding-right: 2rem; }
.pr-9  { padding-right: 2.25rem; }
.pr-10 { padding-right: 2.5rem; }
.pr-11 { padding-right: 2.75rem; }
.pr-12 { padding-right: 3rem; }
.pr-13 { padding-right: 3.25rem; }
.pr-14 { padding-right: 3.5rem; }
.pr-15 { padding-right: 3.75rem; }
.pr-16 { padding-right: 4rem; }
.pr-17 { padding-right: 4.25rem; }
.pr-18 { padding-right: 4.5rem; }
.pr-19 { padding-right: 4.75rem; }
.pr-20 { padding-right: 5rem; }
.pr-21 { padding-right: 5.25rem; }
.pr-22 { padding-right: 5.5rem; }
.pr-23 { padding-right: 5.75rem; }
.pr-24 { padding-right: 6rem; }
